.banner {
  width: 100vw;
  background-color: base.$color-banner;
  height: 400px;
  display: flex;
  video {
    margin: auto;
    width: 68%;
    max-width: 900px;
    height: 100%;
  }
}

.table-text {
  margin: 2rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .text-purple {
    color: base.$color-purple;
    padding-bottom: 0.5rem;
  }
  h2 {
    font-size: 2.4rem;
    font-weight: bold;
  }
}

.video-youtube {
  display: flex;
  .video-embed {
    cursor: pointer;
    margin: 2rem auto;
  }
}

.presale-text {
  .text-price {
    color: base.$color-purple;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  .number-price {
    font-size: 2.5rem;
    font-weight: bold;
  }
}
